<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show", @friend, class:"btn btn-secondary" %> 
  <%= link_to 'Delete', @friend, class: "btn btn-danger", data: { "turbo-method": :delete, 'turbo-confirm': "Are you sure you want to delete this friend?" } %>
  <%= link_to "Back", friends_path, class:"btn btn-dark" %>
</div>
